body {
    text-align: center;
}

.clickable {
    cursor: pointer;
    transition: color 300ms ease;
}
.clickable:hover {
    color: royalblue;
}

.text-gray {
    color: rgba(0,0,0,0.5);
}

.hidden {
    display: none;
}

.last-opened {
    font-size: 65%;
    font-weight: 200;
    margin: 0 10px;
    position: absolute;
    right: 0;
    top: 0;
    background-color:white;    
}
ul.dirs li.file:hover .last-opened {
    text-decoration: underline;
}

#directories-options {
    position: fixed;
    top: 40px;
    right:15px;
    font-size: 150%;
}

ul.dirs {
    font-size: 140%;
    list-style: none;
    padding: 0;
}

ul.dirs li.file {
    position:relative;
}
ul.dirs li.file:hover {
    text-decoration: underline;
}
ul.dirs li.folder {
    margin-top: 1.2rem;
    font-size: 134%;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    margin: 20px auto;
    border-radius: 10px;
    color:ghostwhite;
    cursor:pointer;
}

@media screen and (min-width:768px) {
    ul.dirs li.folder {
        width: 75%;
        margin: 60px auto;
    }
    ul.dirs li.file {
        text-align: center;
    }
}

ul.dirs li.folder:not(.custom-icon)::before {
    content: "📂\00a0"
}

/* ul.dirs li.file::before {
    content: "\00a0\00a0\00a0\00a0\00a0-\00a0"
} */

ul.dirs a {
    text-decoration: none;
}

/* Front page listing directories right away and your credentials */
.promote-features {
    color: rgba(0,0,0,0.5);
    font-size: .65rem;
    background-color: transparent;
    margin: 0 auto;
    text-align: right;
    line-height: .7rem;
}
.promote-features a {
    text-decoration: none;
}
.creds-socials {
    margin: 5px 0;
}