@import url('includes/control-bar.css');
@import url('includes/countdown.css');
@import url('modal.css');
@import url('includes/reps.css');

/* Page global  */
.container {
    padding: 10px;
    font-size: 100%;
}

.container img {
    display: block;
    width: 100%;
    margin: 10px;
}


@media (min-width: 768px) {
    .container img {
        width: 50%;
        margin: 10px auto;
    }
    .container {
        font-size: 150%;
    }
}

.h2 {
    margin-left: 2ch;
}

.h2::before {
    content: "•\00a0";
}

.h3 {
    margin-left: 4ch;
}

.h3::before {
    content: "—";
}

.h4 {
    margin-left: 6ch;
}

.h4::before {
    content: "➣";
}

.h5 {
    margin-left: 8ch;
}

.h5::before {
    content: "➨";
}

.h6 {
    margin-left: 10ch;
}

.h6::before {
    content: "◦\00a0";
}

/* Page structure */
#back-to-directory{
    position:fixed; top:0; padding-top:10px; left:20px;
} 


#save-status {
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 90%;
    border: 1px solid #28a745;
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    z-index: 10; /* DataTables get in the way */
    padding: 15px 30px;
    border-radius: 15px;
    letter-spacing: 2px;
    display: none;
}

#save-status > span {
    font-style: italic; /* Text "Saved" */
}

/* Search external */
.ri-icon-hook {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-right: 30px;
}
.ri-icon-hook >* {
    cursor: pointer;
}
.ri-google-fill {
    background: -webkit-linear-gradient(left, rgba(66, 133, 244, 1), rgba(219, 68, 55,1 ), rgba(244, 180, 0, 1), rgba(66, 133, 244, 1), rgba(15, 157, 88,1), rgba(219, 68, 55,1 ));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .7;
}
.ri-youtube-fill {
    color:rgba(255,0,0,1);
    opacity: .7;
}

/* Addressed/Marking color */
#addressed::before {
    content: "Marked:\00A0";
}
#addressed {
    float: right;
    color: #333;
    padding: 10px;
    margin-left: 15px;
    transform: translateY(-10px);
    cursor:  pointer;
}
.addressed-1 {
    background-color: rgba(204, 255, 204, 1);
}
.addressed-2 {
    /* background-color: rgba(255, 255, 153, 1); */ /*night shift mode cant see yellow */

    background-color: rgba(0, 204, 204, 1);
}
.addressed-3 {
    background-color: rgba(255, 204, 204, 1);
}
.addressed-4 {
    background-color: rgba(204, 153, 255, 1);
}

/*
css-only-tooltip version 1.0.0
    ⓒ 2015 AHN JAE-HA http://github.com/eu81273
    MIT License
*/


[data-tooltip-text]:hover {
    position: relative;
}

[data-tooltip-text]:hover:after {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.8);

    -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    color: #FFFFFF;
    font-size: 12px;
    content: attr(data-tooltip-text);

    margin-bottom: 10px;
    top: 130%;
    left: 0;    
    padding: 15px;
    position: absolute;
    width: 300px;
    word-wrap: break-word;

    z-index: 9999;
}

/* DataTable */

.dataTables_length {
    float: right !important;
    margin-left: 20px !important;
    margin-bottom: 10px !important;
}

#DataTables_Table_0_wrapper {
    margin-top:25px;
}

.dataTables_wrapper td {
    vertical-align: top;
}

@media screen and (max-width: 570px) {
    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
        float: none !important;
        display: block !important;
        margin: 10px auto !important;
    }
}

/* DataTables header */
.dataTables_wrapper th {
    padding: 0 !important;
    padding-bottom: 5px !important;
}
.dataTables_wrapper th .text-spaced {
    margin-bottom: 7.5px;
}
.dataTables_wrapper th.header-variation {
    position: relative; /* So can position bottom strip */
    border-top: 5px solid ghostwhite;
    border-left: 5px solid ghostwhite;
    border-radius:7px;
}
.dataTables_wrapper th .bottom-strip {
    height:7.5px; 
    width:100%; 
    position:absolute; 
    bottom:0; 
    left:0;
}
.dataTables_wrapper th .bottom-strip-1 {
    background-image: linear-gradient(to right, #003300, #006600);
}
.dataTables_wrapper th .bottom-strip-2 {
    background-image: linear-gradient(to right, #006600, #66B366);
}
.dataTables_wrapper th .bottom-strip-3 {
    background-image: linear-gradient(to right, #66B366, #996600);
}
.dataTables_wrapper th .bottom-strip-4 {
    background-image: linear-gradient(to right, #996600, #cc3300);
}
.dataTables_wrapper th .bottom-strip-5 {
    background-image: linear-gradient(to right, #cc3300, #663300);
}

/* 
    Fix plugin: Right columns can scroll underneath the left fixed column(s) but
    we make sure not a transparent background that allows beneath columns 
    to bleed through
*/
.dataTables_wrapper th, .dataTables_wrapper td { 
    background-color: white;
}

    /* Fix plugin: Fixed column classes will be added left of "Variation columns" */
    /* Make sure can scroll right columns underneath */
    .dataTables_wrapper thead th {
    z-index: 7 !important;
    background-color:white;
    padding: 0 15px !important;
    }
    .dataTables_wrapper thead th[fixed-column] {
    z-index: 10 !important;
    }

    /* When fixed header row is in sticky position, make sure is on top of other elements on the z-axis */
    .fixedHeader-floating {
    z-index: 7 !important;
    }
    
    
/* 
Fix plugin: When scrolling columns to the left, gaps between the columns allow
the beneat columns content to bleed through. We are using attributes instead of
classes becausae the plugin reassigns the entire class list for the tbody tr td's
*/
.dataTables_wrapper thead th[fixed-column], .dataTables_wrapper tbody td[fixed-column] {
    transform: scale(1.05);
    text-align:left;
    padding-left:5px !important; /* Plugin causes offset to the left about 5px */
}

/* Fix plugin: A duplicate table is made so that there's a scrollbody and that causes
a duplicate thead that takes up space causing a gap below the header row */
.dataTables_scrollBody thead {
    display: none;
}

/* Fixed plugin: Pagination dropdown gets offset with the header row when scrolling horizontally. Removed because I've set to 1000 which should be 
sufficient. There is a page navigation at the bottom anyways */
.dataTables_length, #DataTables_Table_0_length {
    display: none !important;
}


/* Hidden search from table because it gets dragged as you scroll horizontally */
/* Now with our own custom search box and had to be positioned fixed */
.container {
    margin-top: 75px;
}

/* Hidden records count from table because it gets dragged as you scroll horizontally */
/* Now with our own custom records count */
#count-rows {
    font-size:50%;
    transform: translateY(-2.5px);
    display: inline-block;
}
#count-rows::before {
    content: "(";
}
#count-rows::after {
    content: ")";
}

/* Override DataTable search: Using our own custom Search since detaching it breaks DataTable */
#DataTables_Table_0_filter {
    display:none !important;
}
#DataTables_Table_0_info {
    display:none;
}
#DataTables_Table_0_previous {
    display:none;
}
#DataTables_Table_0_paginate {
    display:none;
}
#DataTables_Table_0_next {
    display:none;
}