.countdown-finished {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.35), rgba(180, 0, 0, 0.35)) !important;
}

#countdown-operator {
    font-weight: bolder;
    font-weight: 2px solid black;
    width: 30px;
}

#countdown-operator::before {
    content: "+";
}

#countdown-operator:not(.is-plus)::before {
    content: "-";
}

#countdown-operator,
.countdown-quant {
    display: inline-block;
}

#cp-countdown {
    width: max-content;
}

#countdown-mains {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#countdown-stop-play::before {
    content: "▶️ | ⏹️";
}

#countdown-display {
    display: inline-block;
    width: 95px;
    height: 20px;
    border: 1px dashed gray;
    text-align: center;
}

#countdown-display:empty::before {
    content: "⏳";
    opacity: 0.5;
}

#countdown-display[data-color="red"] {
    color: red;

}

#countdown-display[data-color="green"] {
    color: green;

}

#countdown-display[data-color="iceblue"] {
    color: blue;
    opacity: 0.65;
}

#countdown-operator,
.countdown-quant {
    background-color: transparent;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2.5px;
    transition: all 300ms ease-in-out;
}

#countdown-operator:hover,
.countdown-quant:hover {
    border: 1px inset black;
}

#countdown-divider {
    border: 1px solid black;
    margin: 10px 0;
}

#countdown-stop-play {
    background-color: transparent;
    filter: grayscale(1);
    border: 0;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

#countdown-stop-play:hover {
    filter: hue-rotate(45deg);
}